body{
    position: relative;
    margin: 0 auto;
    font-family: "Josefin Sans", serif;
    font-weight: 400;
    color: rgb(24, 24, 24);
    
}

h1{
  font-family: "Caudex", serif;
  color: black;
  font-weight: 800;
}

h2{
  font-weight: 800;
}

.col p{
  font-weight: 500;
}


#banner{
    background-color: #cf7a68;
    color: rgb(255, 255, 255);
}

#logo{
  background-color: black;

}

.logo{
  width: 150px;
  padding: 8px 0;
}

.background{
  object-fit: cover;
  height: auto;
  background-position: center top
}

.background.facials{
  background-image: url(./images/lady-doing-her-facials-skinish-cosmetic-and-spa-facial-service-in-tema-ghana.webp);
}

.background.massage{
  background-image: url(./images/massaging-her-back-skinish-cosmetic-and-spa-massage-service-in-tema-ghana.webp);
}

.background.sbe{
  background-image: url(./images/lady-enjoy-steaming-her-body-in-a-sauna-skinish-cosmetic-and-spa-steaming-&-body-exfoliating-service-in-tema-ghana.webp);
}

.background.aesthetics{
  background-image: url(./images/skinish-cosmetic-and-spa-aesthetics-procedures-in-tema-ghana.webp);
}

.background.iv-drip{
  background-image: url(./images/skinish-cosmetic-and-spa-iv-theraphy-in-tema-ghana.webp);
}

.background.waxing{
  background-image: url(./images/skinish-cosmetic-and-spa-waxing-service-in-tema-ghana.webp);
}

.background.abse{
  background-image: url(./images/skinish-cosmetic-and-spa-body-sculpting-service-in-tema-ghana.webp);
}

.background.detox{
  background-image: url(./images/skinish-cosmetic-and-spa-full-body-detox-service-in-tema-ghana.webp);
}

.background.other{
  background-image: url(./images/skinish-cosmetic-and-spa-prp-stretch-mark-removal-service-in-tema-ghana.webp);
  object-fit: cover;
  height: auto;
  background-position: center top;
}

.overlay{
  border-image: linear-gradient(hsla(0, 0%, 0%, 0.65), hsla(0, 0%, 0%, 0.65)) fill 1;
}


.row.main{
  max-width: 800px;
  background-color: rgba(255, 255, 255, 0.7);
}


p.service{
  text-transform: capitalize;
}


div.contact{
  position: fixed;
  left: 75%;
  top: 85%;
}

img.contact{
  max-width: 55px;
  box-shadow: 5px 5px 20px rgba(253, 253, 253, 0.2);
  border-radius: 50%;
}